@tailwind base;
@tailwind components;
@tailwind utilities;

@media screen and (min-width: 320px) {
  html {
    font-size: calc(14px + 1 * ((100vw - 320px) / 680));
  }
}

@media screen and (min-width: 1040px) {
  html {
    font-size: 16px;
  }
}

:root {
  --primary: #18181b;
  --secondary: #09090b;
}

/* Firefox */
* {
  scrollbar-width: thin;
  scrollbar-color: var(--secondary) var(--primary);
}

/* Chrome, Edge, and Safari */
*::-webkit-scrollbar {
  width: 15px;
  @apply hidden mobile:visible;
}

*::-webkit-scrollbar-track {
  background: var(--primary);
  border-radius: 5px;
}

*::-webkit-scrollbar-thumb {
  background-color: var(--secondary);
  border-radius: 14px;
  border: 3px solid var(--primary);
}

@layer base {
  * {
    @apply box-border;
  }

  body {
    @apply bg-gradient-to-t from-zinc-950 to-zinc-900;
  }

  section {
    @apply min-h-[100vh];
  }
  h1 {
    @apply text-5xl font-bold;
  }

  h2 {
    @apply text-4xl font-bold;
  }

  h3 {
    @apply text-3xl font-semibold;
  }

  h4 {
    @apply text-2xl font-semibold;
  }

  h5 {
    @apply text-xl font-semibold;
  }

  h6 {
    @apply font-semibold;
  }
}

@layer utilities {
  .max-width {
    @apply max-w-[1920px] mx-auto px-[16px] tablet:px-[80px] desktop:px-[162px];
  }

  .section-padding {
    @apply py-[30px] tablet:py-[40px] desktop:py-[60px];
  }

  .btn {
    @apply flex items-center justify-center gap-2 rounded text-base mobile:text-sm p-2 capitalize border font-medium;
  }

  .btn-primary {
    @apply text-zinc-800 bg-green-500 border border-green-800 hover:bg-green-700 transition;
  }

  .btn-primary-outline {
    @apply text-green-500 border border-green-500 hover:bg-green-500 hover:text-zinc-900 transition;
  }

  .btn-secondary {
    @apply text-zinc-800 bg-red-500 border border-red-800 hover:bg-red-700 transition;
  }

  .btn-secondary-outline {
    @apply text-red-500 border border-red-500 hover:bg-red-500 hover:text-zinc-900 transition;
  }

  .box {
    @apply py-4 border border-zinc-800 bg-zinc-900 rounded-md;
  }

  input,
  textarea {
    @apply w-full rounded px-6 py-4 border border-zinc-800 bg-zinc-900 text-zinc-100 outline-none text-sm;
  }
}
